body,
html {
    overflow-x: hidden;
}

body {
    background: url("../img/Background.png");
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    width: auto;
}

main {
    flex: 1 0 auto;
}

img {
    max-width: 100%;
}

#logo {
    padding-top: 10px;
}

#content-wrapper {
    padding-top: 20px;
}

#logo-text {
    font-size: 25px;
}

#ske-input {
    min-height: 25vh;
}

#ske-output {
    min-height: 10vh;
}

.input-field>label {
    color: #eeeeee;
}

.input-field>input,
.input-field>textarea {
    color: #e0e0e0;
}

/*Can not be selected*/

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}